body{
    font-family: sans-serif;
}
#assignment-instructions {
    color: darkred;
}
.alt-code {
    color: olive;
}
code {
    font-family: monospace;
    color: red;
}
ol li + li {
    background-color:black;
    color:white;
}

/* ol > li {
    background-color:black;
    color:white;
} */